In [1]:
import pandas as pd

In [2]:
url="https://raw.githubusercontent.com/SR1608/Datasets/main/covid-data.csv"

In [3]:
data=pd.read_csv("https://raw.githubusercontent.com/SR1608/Datasets/main/covid-data.csv")

In [ ]:
print("High Level Data Understanding")
#find numbr of rows and columns in dataset
print("number of rows",data.shape[0])
print("number of columns",data.shape[1])
#datatypes of columns
print("data types of columns\n",data.dtypes)
#info and describe of data in datframe
data.describe()

In [13]:
#find count of unique values in location column
len(pd.unique(data["location"]))

216

In [ ]:
#find which continent has max  frequency values using counts
pd.value_counts(data["continent"])

In [30]:
#find mean values in 'total_cases'
data.total_cases.mean()

167797.3688753302

In [31]:
#find max values in 'total_cases'
data.total_cases.max()

55154651.0

In [ ]:
#find 25%,50%,75% quartile values in 'total deaths'
data.total_deaths.quantile([0.25,0.50,0.75])

In [ ]:
result=data.groupby('continent')['human_development_index'].max()
result.max()

In [49]:
result=data.groupby('continent')['gdp_per_capita'].min()
result.min()

661.24

In [56]:
df=pd.DataFrame(data)
df.filter(items=['continent','location','date','total_cases','total_deaths','gdp_per_capita','human_development_index'])

,continent,location,date,total_cases,total_deaths,gdp_per_capita,human_development_index
0,Asia,Afghanistan,31/12/19,NaN,NaN,1803.987,0.498
1,Asia,Afghanistan,01/01/20,NaN,NaN,1803.987,0.498
2,Asia,Afghanistan,02/01/20,NaN,NaN,1803.987,0.498
3,Asia,Afghanistan,03/01/20,NaN,NaN,1803.987,0.498
4,Asia,Afghanistan,04/01/20,NaN,NaN,1803.987,0.498
...,...,...,...,...,...,...,...
57389,NaN,International,13/11/20,696.0,7.0,NaN,NaN
57390,NaN,International,14/11/20,696.0,7.0,NaN,NaN
57391,NaN,International,15/11/20,696.0,7.0,NaN,NaN
57392,NaN,International,16/11/20,696.0,7.0,NaN,NaN
57393,NaN,International,17/11/20,696.0,7.0,NaN,NaN

In [59]:

print(data.isnull().any())

iso_code                               True
continent                              True
location                              False
date                                  False
total_cases                            True
new_cases                              True
new_cases_smoothed                     True
total_deaths                           True
new_deaths                             True
new_deaths_smoothed                    True
total_cases_per_million                True
new_cases_per_million                  True
new_cases_smoothed_per_million         True
total_deaths_per_million               True
new_deaths_per_million                 True
new_deaths_smoothed_per_million        True
reproduction_rate                      True
icu_patients                           True
icu_patients_per_million               True
hosp_patients                          True
hosp_patients_per_million              True
weekly_icu_admissions                  True
weekly_icu_admissions_per_million      True
weekly_hosp_admissions                 True
weekly_hosp_admissions_per_million     True
total_tests                            True
new_tests                              True
total_tests_per_thousand               True
new_tests_per_thousand                 True
new_tests_smoothed                     True
new_tests_smoothed_per_thousand        True
tests_per_case                         True
positive_rate                          True
stringency_index                       True
population                             True
population_density                     True
median_age                             True
aged_65_older                          True
aged_70_older                          True
gdp_per_capita                         True
extreme_poverty                        True
cardiovasc_death_rate                  True
diabetes_prevalence                    True
female_smokers                         True
male_smokers                           True
handwashing_facilities                 True
hospital_beds_per_thousand             True
life_expectancy                        True
human_development_index                True
dtype: bool

In [60]:
#fil all missing values with 0
data.fillna(0)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,31/12/19,0.0,0.0,0.0,0.0,0.0,0.0,...,1803.987,0.0,597.029,9.59,0.0,0.0,37.746,0.5,64.83,0.498
1,AFG,Asia,Afghanistan,01/01/20,0.0,0.0,0.0,0.0,0.0,0.0,...,1803.987,0.0,597.029,9.59,0.0,0.0,37.746,0.5,64.83,0.498
2,AFG,Asia,Afghanistan,02/01/20,0.0,0.0,0.0,0.0,0.0,0.0,...,1803.987,0.0,597.029,9.59,0.0,0.0,37.746,0.5,64.83,0.498
3,AFG,Asia,Afghanistan,03/01/20,0.0,0.0,0.0,0.0,0.0,0.0,...,1803.987,0.0,597.029,9.59,0.0,0.0,37.746,0.5,64.83,0.498
4,AFG,Asia,Afghanistan,04/01/20,0.0,0.0,0.0,0.0,0.0,0.0,...,1803.987,0.0,597.029,9.59,0.0,0.0,37.746,0.5,64.83,0.498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57389,0,0,International,13/11/20,696.0,0.0,0.0,7.0,0.0,0.0,...,0.000,0.0,0.000,0.00,0.0,0.0,0.000,0.0,0.00,0.000
57390,0,0,International,14/11/20,696.0,0.0,0.0,7.0,0.0,0.0,...,0.000,0.0,0.000,0.00,0.0,0.0,0.000,0.0,0.00,0.000
57391,0,0,International,15/11/20,696.0,0.0,0.0,7.0,0.0,0.0,...,0.000,0.0,0.000,0.00,0.0,0.0,0.000,0.0,0.00,0.000
57392,0,0,International,16/11/20,696.0,0.0,0.0,7.0,0.0,0.0,...,0.000,0.0,0.000,0.00,0.0,0.0,0.000,0.0,0.00,0.000
57393,0,0,International,17/11/20,696.0,0.0,0.0,7.0,0.0,0.0,...,0.000,0.0,0.000,0.00,0.0,0.0,0.000,0.0,0.00,0.000

In [63]:
data.continent.dropna()

0          Asia
1          Asia
2          Asia
3          Asia
4          Asia
          ...
56743    Africa
56744    Africa
56745    Africa
56746    Africa
56747    Africa
Name: continent, Length: 56748, dtype: object

In [8]:
import pandas as pd
data['date']=pd.to_datetime(data['date'])
print(data['date'])
data['month']=pd.DatetimeIndex(data['date']).month
print(data['month'])

0       2019-12-31
1       2020-01-01
2       2020-02-01
3       2020-03-01
4       2020-04-01
           ...
57389   2020-11-13
57390   2020-11-14
57391   2020-11-15
57392   2020-11-16
57393   2020-11-17
Name: date, Length: 57394, dtype: datetime64[ns]
0        12
1         1
2         2
3         3
4         4
         ..
57389    11
57390    11
57391    11
57392    11
57393    11
Name: month, Length: 57394, dtype: int64

In [9]:
data.groupby('continent').max()

,iso_code,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,month
continent,,,,,,,,,,,,,,,,,,,,,
Africa,ZWE,Zimbabwe,2020-12-11,752269.0,13944.0,12583.714,20314.0,572.0,297.429,17698.224,...,77.6,525.432,22.02,9.7,65.8,89.827,6.30,76.88,0.797,12
Asia,YEM,Yemen,2020-12-11,8874290.0,97894.0,93198.571,130519.0,2003.0,1168.000,49884.137,...,30.3,724.417,17.72,26.9,78.1,98.999,13.05,84.86,0.933,12
Europe,VAT,Vatican,2020-12-11,1991233.0,86852.0,54868.571,52147.0,2004.0,1101.000,76541.772,...,5.7,539.849,10.08,44.0,58.3,97.719,13.80,86.75,0.953,12
North America,VIR,United States Virgin Islands,2020-12-11,11205486.0,184813.0,156419.143,247220.0,4928.0,2715.143,43721.784,...,23.5,430.548,17.11,19.1,53.3,90.650,5.80,83.92,0.926,12
Oceania,WLF,Wallis and Futuna,2020-12-11,27750.0,1384.0,551.714,907.0,59.0,22.000,41672.600,...,25.1,561.494,30.53,23.5,48.8,82.502,3.84,83.44,0.939,12
South America,VEN,Venezuela,2020-12-11,5876464.0,69074.0,46393.000,166014.0,3935.0,1096.714,29170.225,...,7.1,373.159,12.54,34.2,42.9,80.635,5.00,81.44,0.843,12